html, body, #app{
    height: 100%;
    background-color: #17a2b8;
}
#app{
    display: grid;
}
.footer {
    display: flex;
    justify-content: center;
    height: 75px;
    background-color: #45b5c6;
    color: #fafafa;
}

.footer p{
    margin-bottom: 0;
}

#nbg{
    background-color: #45b5c6;
}

a {
    color: #fafafa;
    text-decoration-color: #fafafa;

}
