html, body, #app {
    height: 100%;
    background-color: #101214;
    color: #A0AEC0;
}

#app{
    display: grid;
    grid-template-rows: 56px 1fr 75px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #1d2124;
    color: #fafafa;

}

.footer p{
    margin-bottom: 0;
}

#nbg{
    background-color: #1d2124;
}

a {
    color: #fafafa;
    text-decoration-color: #fafafa;
}

.contenedor {
    background-color: #333333;
}

.txt-bg{
    color: #101214;
}

